<div class="facebook-insight facebook-likes jumbotron align-bottom">
	<h4>
		Your Likes {{vm.moduleName}}
		<i 
			class="glyphicon glyphicon-btn glyphicon-plus"
			ng-class="{'disabled': !vm.module.next}"
			title="Load more likes"
			ng-click="vm.getMore()"
			ng-disabled="!vm.module.next"
		>
		</i>
	</h4>
	<em>Last {{vm.module.likes.length}}</em>
	<div id="{{vm.module.graphId}}" class="facebook-likes-graph"></div>
	<em>Top {{vm.module.limit}}</em>

	<br>
	<i 
		class="glyphicon glyphicon-btn"
		ng-class="{'glyphicon-refresh spinning disabled': vm.module.sharing, 'glyphicon-share': !vm.module.sharing}"
		title="Show this to your friends!"
		ng-click="!vm.module.sharing && vm.share()"
		ng-disabled="vm.module.sharing"
	>
	</i>	
</div>
